/* common start */
body{
  padding: 12px;
}
/* common end */

/* header start here */
.container{
  border: .5px solid #DEE2E6;
}
h1{
  text-decoration: underline 2px solid #DEE2E6;
}
/* header end here */

/* banner start here */
/* banner end here */

/* success start here */
/* success end here */

/* feature starts here */
/* feature end here */

/* footer starts here */
/* footer end here */